db/*
logs/*
wordpress/wp-config.php
wordpress/wp-content/*
!wordpress/wp-content/themes/
!wordpress/wp-content/plugins/
!wordpress/wp-content/uploads/
wordpress/wp-content/themes/*/*
wordpress/wp-content/plugins/*/*
wordpress/wp-content/uploads/*/*
redis/*
.env
docker-compose.yml
